RAILS_ENV=development
DB_HOST=db
DB_USERNAME=root
DB_PASSWORD=root
DB_NAME=zxevo_development
DB_TEST_NAME=zxevo_test

SECRET_KEY_BASE=dev_secret_key_base_for_docker

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=zxevo_development
