@import url("https://fonts.googleapis.com/css?family=PT+Sans:400italic,400,700&subset=latin,cyrillic");

$link-color: #f00;
$navbar-height: 50pt;
$navbar-default-bg: #222;
$navbar-default-color: #ddd;
$navbar-default-brand-color: #ffd200;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
